
.total {
  background: var(--total-bg);
  display: flex;
  justify-content: space-between;
  color: var(--total-text);
  margin: 16px;
  border-radius: var(--button-radius);
  padding: 0 16px;
  > li {
    padding: 16px;
    display: flex;
    flex-direction: column;
    text-align: center;
    &:first-child {
      color: var(--total-income);
    }
    &:nth-child(2) {
      color: var(--total-expenses);
    }
  }
}
.list{
  > li {
    position: relative;
    transition: all 0.2s;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    border-bottom: 1px solid var(--button-border-color);
    padding: 12px 16px;
    &[data-index= 'true']{
      transform: translateX(-64px);
      .remove{
        display: flex;
      }
    }
    &[data-index= 'false']{
      transform: translateX(0px);
    }
   > .click{
      display: flex;
      justify-content: space-between;
      flex-grow: 1;
    }
   > .remove{
      margin: 0;
      position: absolute;
      top: 0px;
      right: -64px;
      font-weight: bold;
      font-size: 16px;
      color: floralwhite;
      width: 64px;
      height: 100%;
      display: flex;
      display: none;
      justify-content: center;
      align-items: center;
      background: rgb(222, 68, 70);
    }
  }

  .sign{
    flex-grow: 0;
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: var(--tag-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 8px;
  }
  .text{
    margin-right: 4px;
    margin-left: 4px;
    flex-grow: 1;
    flex-shrink: 0;
    .tagAndAmount{
      display: flex;
      justify-content: space-between;
      .tag{
        color: var(--list-tag-text);
      }
      .amount{
        color: var(--list-amount-text);
      }
    }
    .time{
      color: var(--list-time-text);
      display: flex;
      justify-content: flex-end;
      margin-top: 4px;
    }
  }
}
.more{
  padding-top: 32px;
  text-align: center;
}


.button {
  width: 100%;
  &_wrapper {
    padding: 16px 16px;
  }
}

.pig{
  width: 128px;
  height: 128px;
  &_wrapper{
    padding: 120px 0;
  }
}