.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, #5d33be 0%, #8f4cd7 100%);

    >.header {

        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        font-weight: 600;
        padding-top: 66px;
        color: #d4d4ee;
        >svg {
            width: 64px;
            height: 69px;
        }
    }

    >.main {
        flex-grow: 1;
        position: relative;
        background: var(--welcome-card-bg);
        display: flex;
        overflow: hidden;
        margin: 16px 16px 16px;
       
    }
    >.footer {
        flex-shrink: 0;
    }

}

.slide_fade_enter_active,.slide_fade_leave_active {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transition: all var(--transition-duration) ease-out;
}
.slide_fade_enter_from {
    transform: translateX(100vw);
}
.slide_fade_leave_to {
    transform: translateX(-100vw);
    opacity: 0;
}
